* {
    margin: 0px;
    padding: 0px;

}

/*Corpo do documento*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    color: #333;
    line-height: 1.5;
}

/* Cabeçalho */

header {
    background: rgb(0, 0, 0);
    color: beige;
    text-align: center;
    padding: 20px;

}

.profile-photo {
    background-color: white;
    width: 100px;
    height: 100px;
    background-image: url(imagem.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 10px;

}

.main-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
}

.main-nav {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: rgb(43, 43, 43);


}

.main-nav a {
    font-size: 14px;
    color: rgba(243, 142, 142, 0.788);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
    transition: font-size 0.3s;

}

.main-nav a:hover {
    color: rgb(238, 79, 79);
    font-size: 20px;
}