* {
    margin: 0px;
    padding: 0px;

}

/*Corpo do documento*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    color: #333;
    line-height: 1.5;
}

/* Cabeçalho */

header {
    background: rgb(15, 15, 15);
    color: beige;
    text-align: center;
    padding: 20px;

}

.profile-photo {
    background-color: white;
    width: 100px;
    height: 100px;
    background-image: url(imagem.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 10px;

}

.main-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
}

.main-nav {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: rgb(43, 43, 43);


}

.main-nav a {
    font-size: 14px;
    color: rgba(243, 142, 142, 0.788);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
    transition: font-size 0.3s;

}

.main-nav a:hover {
    color: rgb(238, 79, 79);
    font-size: 20px;
}

.section
{

    padding: 25px;
    margin-bottom: 20px;
    background-color: rgb(216, 216, 189);
    border-radius: 4%;
    box-shadow: 0 0 5px;

}

#sec-intro ul li 
{

    list-style: none;

}

#sec-intro ul li::before
{

    content: '✅\ ';
    left: 0;
    top: 0;

}

.box-principal
{

    background-color: rgb(196, 196, 173);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
    padding: 15px 0px;
    font-size: 25px;
    

}

.alinhamento-box
{
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-right: 10px;
    border-radius: 5px;

}

.box1, .box2, .box3, .box4, .box5, .box6
{
    width: 150px;
    height: 100px;
    color: gray;
}

.box1
{
    background-color: rgb(196, 196, 173);
}

.box2 
{
    background-color: rgb(196, 196, 173);  
}

.box3 
{
    background-color:rgb(196, 196, 173);
}

.box4
{
    background-color: rgb(196, 196, 173);
}

.box5 
{
    background-color: rgb(196, 196, 173);  
}

.box6 
{
    background-color:rgb(196, 196, 173);
}

.color-box
{

    float: left;
    background-color: rgb(196, 196, 173);
    width: 100%;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    padding: 15px 0px;
    font-size: 25px;
    

}

.color1, .color2, .color3, .color4, .color5 
{
    width: 150px;
    height: 100px;
    color: rgb(15, 15, 15);
}

.color1 
{
    background: radial-gradient(red, yellow); 
}

.color2 
{
    background: linear-gradient(90deg, #1b1678 0%, #ba259a 50%, #589d13 100%);
}

.color3 
{
    background: linear-gradient(to bottom, #11772e 0%, #7e2167 50%, #b5c6d0 100%); color: black; 
}

.color4 
{
    background: linear-gradient(to right, #7f5c15, #d8e1e7, #b5c6d0, #529f0f); color: black;
}

.color5 
{
    background: linear-gradient(to right, red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
}

.extra-box
{
    float: left;
    background-color: rgb(196, 196, 173);
    width: 100%;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    padding: 15px 0px;
    font-size: 25px; 
}

.border-box, .hover-box, .float-box
{
    width: 150px;
    height: 100px;
    color: rgb(15, 15, 15);
    background-color: rgb(238, 79, 79);
}

.footer
{
    text-align: center;
}


